* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    font-size: 13px;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4D515D;
    font-family: 'Roboto', sans-serif;
}

.container {
    background: #fff;
    border-radius: 5px;
    box-shadow: 3px 3px 20px rgba(0,0,0,0.25);
    display: flex;
    overflow: hidden;
    width: 940px;
}

.sign-up-part {
    width: 65%;
}

.sign-up-header, .sign-up-socials-networks, .sign-up-footer {
    padding: 0 4em;
}

.sign-up-header {
    margin: 5em 0 3.9em 0;
}

.sign-up-header h1 {
    font-size: 3.1rem;
    font-weight: 300;
    margin-bottom: 13px;
}

.sign-up-header p {
    font-weight: 500;
    color: #999;
    margin-top: 13px;
}

.sign-up-socials-networks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4.9em;
}

.social {
    margin: 0.9em 0;
    padding: 1.4em 0;
    transition: all .2s;
}

.sign-up-a {
    font-size: 0.85rem;
    color: #999;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1.7em 17em;
    border: solid 1px #ddd;
    border-radius: 3px;
    position: relative;
    transition: all .2s;
}

.social:hover {
    box-shadow: 5px 5px 25px rgba(0,0,0,0.1);
}

.social:hover .socials {
    border-color: transparent;
    color: #222;
}

.facebook a {
    padding: 1.7em 16.7em;
}

.twitter a {
    padding: 1.7em 17.1em;
}

.google-plus a::before {
    content: url(img/googleplus.svg);
    width: 18px;
    float: left;
    position: absolute;
    left: 1.8em;
    top: 32%;
}

.facebook a::before {
    content: url(img/facebook.svg);
    width: 17px;
    float: left;
    position: absolute;
    left: 1.8em;
    top: 32%;
}

.twitter a::before {
    content: url(img/twitter.svg);
    width: 17px;
    float: left;
    position: absolute;
    left: 1.8em;
    top: 33%;
}

.sign-up-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid  #ddd;
    padding: 2.5em 4em;
}

.sign-up-footer p {
    font-weight: 500;
    font-size: 0.95rem;
}

.sign-up-email {
    padding: 0;
    border: none;
}

.sign-up-email:hover {
    color: #222;
}

.image-part {
    background: url(img/side.jpg);
    background-size: cover;
    width: 35%;
}

/* TABLET */

@media screen and (max-width: 935px) {
    .sign-up-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sign-up-header h1 {
        margin-bottom: 8px;
    }

    .sign-up-header p {
        margin-top: 8px;
    }

    .sign-up-a {
        padding: 1.7em 7em;
    }

    .facebook a {
        padding: 1.7em 6.8em;
    }

    .twitter a {
        padding: 1.7em 7.2em;
    }

    .sign-up-email {
        padding: 0;
        margin-left: 5em;
    }

    .image-part {
        display: none;
    }

    .container {
        width: fit-content;
    }

    .sign-up-part {
        width: 100%;
    }

}

/* PHONE */

@media screen and (max-width: 500px) {
    body {
        background: none;
    }

    .container {
        height: 100vh;
        box-shadow: none;
        border-radius: none;
    }

    .sign-up-part {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .sign-up-header, .sign-up-socials-networks, .sign-up-footer {
        padding: 0 2em;
    }

    .sign-up-footer {
        padding: 2.5em 2em;
    }
}