* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgba(57, 214, 149, 0.801);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
.flex-container {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    width: 550px;
    height: 420px;
    background-color: white;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px 50px 0px 50px;
    overflow: hidden;
}
.header {
    display: block;
    line-height: 50px;
}
.header h2 {
    float: left;
    padding: 8px;
}
.header img {
    float: right;
    border: 1px solid gray;
    padding: 8px;
    border-radius: 50%;
}
.header img:hover {
    outline: 5px solid rgb(224, 224, 224);
}

.caption {
    display: block;
    float: left;
    color: rgb(177, 177, 177);
    font-size: 13px;
    font-weight: 600;
    /* margin-top: 10px; */
    padding: 0px 8px 8px 8px;
}
.products {
    padding: 8px;
    line-height: 45px;
    display: block;
}
.products p {
    float: left;
    color: rgb(85, 85, 85);
}
.products span {
    float: right;
    font-weight: 900;
    font-size: 20px;
}



.bicycle{
    position: relative;
    padding: 8px;
    text-align: center;
    margin-left: -30px;
}
.bicycle img {
    height: 350px;
    width: 500px;
    position: absolute;
    left: 0;
    right: 0;
    top: 270px;
    bottom: 0;
    margin: auto;
}